{% extends 'base.html' %}

{% block title %}Checkout {% endblock %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5 mb-4">Items in the cart</h3>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="3"><a href="{% url 'mycart' %}" class="btn btn-success">Update Cart</a></th>
                        <th class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 mt-5 mb-4">
            <h3>Checkout Form</h3>
            <form action="{% url 'success' %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <br/>
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="rzp_test_ejxwUwJ32rcHr9" 
                    data-amount="{{ cart.total|mul:100 }}" 
                    data-currency="INR"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay"
                    data-name="ShopIT"
                    data-description="Ecommerce Website"
                    data-image="https://example.com/your_logo.jpg"
                    data-prefill.name="John Doe"
                    data-prefill.email="john.doe@example.com"
                    data-theme.color="#F37254"
                ></script>
                </form>
        </div>
    </div>
</div>
{% endblock %}
